.header {
    background: $header-bg;

    .logo {
        display: flex;

        img {
            height: 100px;
            padding: 0.5rem 0;
        }
        
        h1 {
            color: $header-h1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 1rem;
    
            span {
                font-weight: 800;
            }
        }
    }
}
