.navigation {
    @include breakpoint(medium down) {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 1rem;
            @include breakpoint(medium down) {
                font-size: 3rem;
            }

            a {
                color: $nav;

                &:hover {
                    color: $nav-active;
                }
            }
        }
    }
}