body, html {
    height: 100%;
}
body {
    font-family: $body-font;
    background: $body-bg;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

p {
    font-size: 0.75rem;
    margin: 0;
}

footer {
    margin-top: auto;
}

.flex-container, .flex-space-between, .flex-vertical, .flex-horizontal, .flex-center, .flex-it {
    display: flex;
}

.flex-container {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-horizontal {
    justify-content: center;
}

.flex-vertical {
    align-items: center;
}

.grid-container {
    @include breakpoint(small down) {
        padding: 0;
    }
}

.padding-container {
    padding: 0 2rem;
}

.error {
    color: $alert;
}

.is-invalid {
    color: $alert;
    border-bottom: 2px solid $alert !important;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    &:focus {
        box-shadow: 0 0 0 30px white inset;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}



